<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.common.demo">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="com.google.android.things.permission.USE_GPIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />

    <uses-permission android:name="android.permission.USB_PERMISSION" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.POWER_SAVE_MODE" /> <!-- <uses-permission android:name="android.permission.BATTERY_STATS" /> -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_USB" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.telpo.tps550.api.demo.customize.EthernetTestActivity"
            android:exported="false" />
        <activity
            android:name="com.telpo.tps550.api.demo.customize.cards.SIMCardDetectionActivity"
            android:exported="false" />
        <activity
            android:name="com.telpo.tps550.api.demo.customize.DeliveryLocker.LockerControlActivity"
            android:exported="false" />
        <activity
            android:name="com.telpo.tps550.api.demo.customize.PowerManagementActivity"
            android:exported="false" />
        <activity
            android:name="com.telpo.tps550.api.demo.customize.io.UsbInterfaceActivity"
            android:exported="false" />
        <activity
            android:name="com.telpo.tps550.api.demo.customize.WifiTestActivity"
            android:exported="false" />
        <activity
            android:name="com.telpo.tps550.api.demo.customize.cards.IDCardActivity"
            android:exported="false" />
        <activity
            android:name="com.telpo.tps550.api.demo.customize.camera.LEDIndicatorActivity"
            android:exported="false" />
        <activity
            android:name="com.telpo.tps550.api.demo.customize.print.PrintingActivity"
            android:exported="false" />
        <activity
            android:name="com.telpo.tps550.api.demo.customize.nfc.ActualAndroidNFCActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.nfc.action.NDEF_DISCOVERED"/> -->
            <!-- <category android:name="android.intent.category.DEFAULT"/> -->
            <!-- <data android:mimeType="application/vnd.com.example.android.beam"/> -->
            <!-- </intent-filter> -->
            <!-- <meta-data -->
            <!-- android:name="android.nfc.action.TECH_DISCOVERED" -->
            <!-- android:resource="@xml/nfc_tech_filter" /> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity
            android:name="com.telpo.tps550.api.demo.customize.camera.CustomQRBARCodeScannerActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.telpo.tps550.api.demo.customize.biometric.FingerPrintActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.telpo.tps550.api.demo.customize.audio.AudioTestActivity"
            android:exported="false" />
        <activity
            android:name="com.telpo.tps550.api.demo.customize.camera.CameraActivity"
            android:exported="false" />

        <activity
            android:name="com.telpo.tps550.api.demo.customize.DefaultActivity"
            android:exported="false" />
        <activity
            android:name="com.telpo.tps550.api.demo.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.telpo.tps550.api.demo.serial.TTLTestActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.telpo.tps550.api.demo.power.PowerControlActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.telpo.tps550.api.demo.can.Can2DeptActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <activity
            android:name="com.telpo.tps550.api.demo.printer.UsbPrinterActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.telpo.tps550.api.demo.printer.PrinterActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.telpo.tps550.api.demo.printer.PrinterActivitySY581"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.telpo.tps550.api.demo.idcard.TwoInOneReaderActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.telpo.tps550.api.demo.multireader.MultiReaderActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.telpo.tps550.api.demo.megnetic.MegneticActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.telpo.tps550.api.demo.moneybox.MoneyBoxActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.telpo.tps550.api.demo.iccard.PsamCardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.telpo.tps550.api.demo.iccard.IccActivityNew"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.telpo.tps550.api.demo.iccard.SLE4442Activity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.telpo.tps550.api.demo.iccard.SLE4428Activity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.telpo.tps550.api.demo.iccard.SmarCardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.telpo.tps550.api.demo.nfc.NfcActivity_tps900"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.telpo.tps550.api.demo.nfc.NfcActivity_tps537"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.telpo.tps550.api.demo.nfc.NfcActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.telpo.tps550.api.demo.nfc.NFCActivityNew"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">

            <!-- 配置过滤启动类型 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity
            android:name="com.telpo.tps550.api.demo.decode.DecodeReaderActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.telpo.tps550.api.demo.system.SystemActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.telpo.tps550.api.demo.encrypt.Encrypt_537Activity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.telpo.tps550.api.demo.ledscreen.LedScreenActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.telpo.tps550.api.demo.can.CanActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.telpo.tps550.api.demo.nfc.NfcPN512ActivityMain"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.telpo.tps550.api.demo.nfc.MifareDesfireActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.telpo.tps550.api.demo.nfc.FelicaActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.telpo.tps550.api.demo.pos.LedActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.telpo.tps550.api.demo.pos.RSSerialActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.telpo.tps550.api.demo.pos.RelayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.telpo.tps550.api.demo.pos.InputActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.telpo.tps550.api.demo.pos.GpioActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.telpo.tps550.api.demo.serial.SerialTestActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.telpo.tps550.api.demo.lcd.SimpleSubLcdActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.telpo.tps550.api.demo.deliverylocker.DeliverylockerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.telpo.tps550.api.demo.pos.SensorActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.telpo.tps550.api.demo.lcd.LcdActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.telpo.tps550.api.demo.lcd.LcdShowActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.telpo.tps550.api.demo.touch.OnTouchTainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.telpo.tps550.api.demo.power.PowerManageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.common.demo.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <receiver android:name="com.telpo.tps550.api.demo.customize.Ethernet.EthernetStateReceiver"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>